@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
font-family: 'Poppins', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
}
/*---header section------*/
header{
   max-width: 100%;
   height: 100vh;
   background: transparent;
}
nav{
    justify-content: space-between;
    display: flex;
    
}
.header-logo{
 display: flex;
 font-size:25px;
 font-weight: 700;
 gap:15px;
 padding:30px 0;
 margin: 10px 40px;
 
}
.header-logo img{
width: 30px;
    
}
span{
color: #FF5400;
}
nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav  li{
 list-style: none;
 margin-right:35px;
 display: flex;

}
nav  li a{
    text-decoration: none;
    font-size: 18px;
    font-weight:400;
    color: black;
}
.icon{
    display: none;
}
/*banner-- section--*/
.banner{
    max-width: 80%;
    margin:5px 50px auto;
    background: transparent;
    position: relative;
    text-align: center;
    display: flex;
}
.banner-img{
display: flex;
}
.banner-img img{
max-width: 140%;
}
.banner-contion{
    position: absolute;
    text-align: center;
    display:block;
    margin-left:40%;
    margin-top: 15%;
    color: #ffffff;
    font-size: 14px;
}
.banner-contion h1{
     font-size:60px;
     font-weight:bold;
     margin-bottom:20px;
}
.banner-div{
background:rgba(255, 255, 255, 0.30);
width: 800px;
height: 100px;
position: absolute;
margin-left:20%;
margin-top:35%;
justify-content: flex-start;
align-items: center;
display: flex;
gap: 20px;
padding: 0 20px;
border-radius: 8px;
}
.banner-div .box-1{
    background: #ffffff;
    width: 174px;
    height:50px;
    margin-top:10px;
    border-radius: 8px;
    margin-left:15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #727272;
    font-size: 13px;
}
.box-1 select{
    background: transparent;
    border: none;
    outline: none;
    color: #727272;
}
.box-button{
    background:#FF5400;
    width: 174px;
    height:50px;
    margin-top:10px;
    border-radius: 8px;
    margin-left:15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}
.box-button .fa{
    margin-left: 40px;
    margin-inline: 10px;
}

/*---main-section------*/
.section-tex-img{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.tex-box{
    margin: 90px 50px auto;
    max-width: 500px;
    font-size: 12px;
    color: #131311;
    font-weight: bold;
}
.tex-box h1{
    font-size: 30px;
    font-weight: 600;
    color: #131311;
    margin-bottom: 18px;
}
.tex-box p{
margin-bottom: 20px;
}
.tex-box ul{
  padding: 0 20px;
}
.tex-box li{
    margin-bottom: 20px;
}
.tex-box button{
    background:#FF5400;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    padding: 9px 19px;
    font-weight: bold;
}
.imges-box{
margin: 70px 20px auto;
display: flex;
}
.box-texxt{
    text-align: center;
    max-width: 500px;
    justify-content: center;
    margin: 70px auto;
    font-size:12px;
    color: #131311;
    font-weight: bold;
}
.box-texxt h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.gallrey{
    display:flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
}
.box-card img{
width: 573px;
height: 300px;
flex-shrink: 0;
}
.box-card h5{
position: absolute;
margin-left:20%;
margin-top: 10%;
color: #ffffff;
font-weight: bold;
font-size: 14px;
}
.box-crd h5{
    position: absolute;
    margin-left:13%;
    margin-top: 10%;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}
.box-crd   .Kashmir{
    margin-left:8%;
}
.gallrey-2{
    display:flex;
    justify-content: flex-start;
    margin: 10px 50px auto;
    gap: 15px;
}
.gallrey-3{
    display:flex;
    justify-content: flex-start;
    margin: 10px 50px auto;
    gap: 15px;
}
.box-crrd h5{
    position: absolute;
    margin-left:13%;
    margin-top: 10%;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}
.box-crrd .Bandarban{
 margin-left: 25%;
}





















/*Mobile divices */

@media screen and (max-width: 576px){

  header{
    padding:10px;
  }
 ul li{
    display: none;
   }
.icon .fa{
    display: flex;
    cursor: pointer;
    margin-top: 40%;
}

   .banner{
    display: grid;
    flex-direction:column;
    padding: 20px 0;
   }
   .banner-img{
    width: 335px;
    height: 483px;
}
   .banner-contion{
    flex-direction:column;
    display: flex;
    font-size: small;
   }
   .banner-contion h1{
    font-size:20px;
}
.banner-div{
    width:150px;
    height:260px;
    flex-direction: column;
    margin-top:75%;
     gap:7px;
     left: 17%;
}
.section-tex-img{
    flex-direction: column;
    display: flex;

}
.tex-box{
    display:block;
    flex-direction: column;
}
.imges-box img{
width: 335px;
height:152px;
flex-shrink: 0;
}
.gallrey{
 display: grid;
 flex-direction: column;
}
.gallrey-2{
    display: grid;
    flex-direction:column; 
}
}


 


 














/*tablat or medim devices*/
@media screen and (min-width: 576px) and (max-width: 1024px)
